body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
    display: flex;
    flex-direction: column;
}

img {
    display: block;
}

.container { 
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px; 
    margin-left: 0 auto;
    margin-right: 0 auto; 
}

main {
    /* Прибирання розривів */
    display: flex;
    flex-direction: column;
    gap: 0px;
}

ul, ol {
    list-style-type: none;
}

/* Header */

.navigation-first .weblogo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.weblogo,
.studio-b {
    flex-shrink: 0;
    margin-right: 76px;
}
.navigation-first .weblogo .studio-b {
    color: #2e2f42;
}

/* Navigation menu */

header nav ul li .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-link:focus,
.menu-link:hover {
    color:#404bbf;
}

/* Flex boxes */
.contact-info {
    margin-left: 332px;
    justify-content: flex-end;
    flex-shrink: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-nav,
.contact-info {
    display: flex;
    gap: 40px;
    /* background-color: #2196f3; */
}

.menu-nav {
    margin-left: 76px;
}

.head-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    /* background-color: #e7e9fc; */
}
.navigation-first {
    display: flex;
    align-items: center;
    margin-left: 156px;
}
.navigation-second {
    display: flex;
    align-items: center;
}

/* Address */

address {
    font-style: normal;
}

.menu-address {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.menu-address:focus,
.menu-address:hover {
    color:#404bbf;
}

/* Section 1(Hero) */

.hero {
    background-color: #2e2f42;
}

.hero .hero-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.service-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.service-button:hover,
.service-button:focus {
    background-color: #404BBF;
}

/* Section 2(Strategy) */

.section-text-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-transform: capitalize;
}

/* Section 3(Team) */

.team-wrapper {
    background-color: #F4F4FD;
}

.teams {
    background-color: #FFFFFF;
}

.team-wrapper .section-text-h {
    line-height: 1.11;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
}

.section-text-f {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our Portfolio */

.portfolio-card-section,
.team-wrapper .section-text-h {
    line-height: 1.11;
    font-size: 36px;
    text-transform: capitalize;
}

/* Footer */

.foot-box {
    background-color: #2e2f42;
}

.foot-box .weblogo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.foot-box .weblogo .studio-w {
    color: #F4F4FD;
}

.foot-box .foot-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

