body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
}

ul, ol {
    list-style-type: none;
}

/* Header */
.head-box {
    border-bottom: 1px solid #e7e9fc ;
}

.container {
    display: flex;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px; 
    margin: 0 auto
}

.container .weblogo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.navigation {
    display: flex;
    align-items: center;
}


.container .weblogo .studio-b {
    color: #2e2f42;

}

/* Navigation menu */

 .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 0.3s ease;
}


/* Address */

address {
    font-style: normal;
}

.menu-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;
}

header .menu-link:focus,
header .menu-link:hover, 
header .menu-address:focus,
header .menu-address:hover {
    color:#404bbf;
}

.menu-nav,
.contact-info {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    /* background-color: #2196f3; */
}
.add-box {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Section 1(Hero) */

main .container {
    max-width: 1158px;
    padding: 188px 0;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1158px;
    display: block;
}

.hero .hero-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
}

.service-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.service-button:hover,
.service-button:focus {
    background-color: #404BBF;
}

/* Section 2(Strategy) */

.container .strategy {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
    border: 0;
}

.container .strategy .benefits {
    display: flex;
    gap: 24px;
}

.container .strategy .benefits .box-benefits {
    width: calc((100% - 72px)/4);
}

.container .strategy .benefits .box-benefits .section-text-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.container .strategy .benefits .box-benefits .section-text-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-transform: capitalize;
}

/* Section 3(Team) */

.team-wrapper {
    background-color: #F4F4FD;
}

.teams {
    background-color: #FFFFFF;
}

.team-wrapper .section-text-h {
    line-height: 1.11;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
}

.section-text-f {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our Portfolio */

.portfolio-card-section,
.team-wrapper .section-text-h {
    line-height: 1.11;
    font-size: 36px;
    text-transform: capitalize;
}

/* Footer */

.foot-box {
    background-color: #2e2f42;
}

.foot-box .weblogo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.foot-box .weblogo .studio-w {
    color: #F4F4FD;
}

.foot-box .foot-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

